In [1]:
import pandas as pd
from data_apis import bea_api as bea
from data_apis import bls_api as bls


ba = bea.BEA("A2D2AB50-A251-4378-8CC1-95E51C78615E")
bl = bls.BLS("ee2f076f1d254305bc09f42aa498afab")

In [4]:
bl.collection([['CUSR0000SA0', 'LNS12000000', 'LNS13000000'], 1960, 2020, ["boom", "how", "thos"]])

Series:  ['CUSR0000SA0', 'LNS12000000', 'LNS13000000']
Dates:  1960  -  1975
Monthly
1975 1990
Series:  ['CUSR0000SA0', 'LNS12000000', 'LNS13000000']
Dates:  1975  -  1990
Monthly
1990 2005
Series:  ['CUSR0000SA0', 'LNS12000000', 'LNS13000000']
Dates:  1990  -  2005
Monthly
2005 2020
Series:  ['CUSR0000SA0', 'LNS12000000', 'LNS13000000']
Dates:  2005  -  2020
Monthly

series      dates     boom       how     thos
0      1960-02-01   29.370   65347.0   3615.0
1      1960-03-01   29.410   65620.0   3329.0
2      1960-04-01   29.410   64673.0   3726.0
3      1960-05-01   29.540   65959.0   3620.0
4      1960-06-01   29.570   66057.0   3569.0
..            ...      ...       ...      ...
727    2020-09-01  259.316  147245.0  13461.0
728    2020-10-01  259.997  147620.0  12554.0
729    2020-11-01  260.319  149931.0  11072.0
730    2020-12-01  260.911  149934.0  10694.0
731    2021-01-01  262.045  149975.0  10770.0

[732 rows x 4 columns]

In [2]:
codes = [
    ([{"survey" : "NIPA", "table" : "T30100", "freq" : "Q"}], "govt_exp.csv"),
    ([{"survey" : "NIPA", "table" : "T11300", "freq" : "A"}], "sector_inc.csv"),
    ([{"survey" : "NIPA", "table" : "T20700A", "freq" : "M"}], "wages_sal_A.csv"),
    ([{"survey" : "NIPA", "table" : "T20700B", "freq" : "M"}], "wages_sal_B.csv")                        
]

# for code in codes:
#     table = code["table"]
#     print("Run ", table)
#     stuff = ba.collection(code)

for code in codes:
    sent = ba.collection(code[0])
    file = code[1]
    sent.to_csv("C:/Users/marvi/OneDrive/Documents/GitHub/Data/staging/" + file)

In [3]:
ba.pulling_tables()

                DatasetName  \
0                      NIPA
1        NIUnderlyingDetail
2                       MNE
3               FixedAssets
4                       ITA
5                       IIP
6               InputOutput
7             IntlServTrade
8               IntlServSTA
9             GDPbyIndustry
10                 Regional
11  UnderlyingGDPbyIndustry
12       APIDatasetMetaData

                                    DatasetDescription
0                                 Standard NIPA tables
1                 Standard NI underlying detail tables
2                            Multinational Enterprises
3                         Standard Fixed Assets tables
4                  International Transactions Accounts
5                    International Investment Position
6                                    Input-Output Data
7                         International Services Trade
8   International Services Supplied Through Affiliates
9                                      GDP by Industry
10                                  Regional data sets
11                          Underlying GDP by Industry
12                   Metadata about other API datasets


Number of tables in the survey 313
    TableName  \
0      T10101
1      T10102
2      T10103
3      T10104
4      T10105
..        ...
308    T80106
309    T80111
310    T80200
311    T80300
312    T80400

                                                                                                          Description
0                            Table 1.1.1. Percent Change From Preceding Period in Real Gross Domestic Product (A) (Q)
1                                 Table 1.1.2. Contributions to Percent Change in Real Gross Domestic Product (A) (Q)
2                                                  Table 1.1.3. Real Gross Domestic Product, Quantity Indexes (A) (Q)
3                                                       Table 1.1.4. Price Indexes for Gross Domestic Product (A) (Q)
4                                                                         Table 1.1.5. Gross Domestic Product (A) (Q)
..                                                                                                                ...
308                            Table 8.1.6. Real Gross Domestic Product, Chained Dollars, Not Seasonally Adjusted (Q)
309  Table 8.1.11. Real Gross Domestic Product: Percent Change From Quarter One Year Ago, Not Seasonally Adjusted (Q)
310                                   Table 8.2. Gross Domestic Income by Type of Income, Not Seasonally Adjusted (Q)
311                      Table 8.3. Federal Government Current Receipts and Expenditures, Not Seasonally Adjusted (Q)
312              Table 8.4. State and Local Government Current Receipts and Expenditures, Not Seasonally Adjusted (Q)

[313 rows x 2 columns]
    TableName  \
95     T30100
96     T30200
97     T30300
98     T30400
99     T30500
100    T30600
101    T30700
102    T30800
103    T30901
104    T30902
105    T30903
106    T30904
107    T30905
108    T30906
109    T31001
110    T31003
111    T31004
112    T31005
113    T31006
114    T31101
115    T31102
116    T31103
117    T31104
118    T31105
119    T31106
120    T31200
121    T31300
122    T31400
123    T31501
124    T31502
125    T31503
126    T31504
127    T31505
128    T31506
129    T31600
130    T31700

                                                                                                                                    Description
95                                                                              Table 3.1. Government Current Receipts and Expenditures (A) (Q)
96                                                                      Table 3.2. Federal Government Current Receipts and Expenditures (A) (Q)
97                                                              Table 3.3. State and Local Government Current Receipts and Expenditures (A) (Q)
98                                                                                                 Table 3.4. Personal Current Tax Receipts (A)
99                                                                                               Table 3.5. Taxes on Production and Imports (A)
100                                                                                Table 3.6. Contributions for Government Social Insurance (A)
101                                                                                         Table 3.7. Government Current Transfer Receipts (A)
102                                                                                    Table 3.8. Current Surplus of Government Enterprises (A)
103                  Table 3.9.1. Percent Change From Preceding Period in Real Government Consumption Expenditures and Gross Investment (A) (Q)
104                       Table 3.9.2. Contributions to Percent Change in Real Government Consumption Expenditures and Gross Investment (A) (Q)
105                                        Table 3.9.3. Real Government Consumption Expenditures and Gross Investment, Quantity Indexes (A) (Q)
106                                             Table 3.9.4. Price Indexes for Government Consumption Expenditures and Gross Investment (A) (Q)
107                                                               Table 3.9.5. Government Consumption Expenditures and Gross Investment (A) (Q)
108                                         Table 3.9.6. Real Government Consumption Expenditures and Gross Investment, Chained Dollars (A) (Q)
109  Table 3.10.1. Percent Change From Preceding Period in Real Government Consumption Expenditures and General Government Gross Output (A) (Q)
110                        Table 3.10.3. Real Government Consumption Expenditures and General Government Gross Output, Quantity Indexes (A) (Q)
111                             Table 3.10.4. Price Indexes for Government Consumption Expenditures and General Government Gross Output (A) (Q)
112                                               Table 3.10.5. Government Consumption Expenditures and General Government Gross Output (A) (Q)
113                         Table 3.10.6. Real Government Consumption Expenditures and General Government Gross Output, Chained Dollars (A) (Q)
114   Table 3.11.1. Percent Change From Preceding Period in Real National Defense Consumption Expenditures and Gross Investment by Type (A) (Q)
115             Table 3.11.2. Contributions to Percent Change in National Defense Consumption Expenditures and Gross Investment by Type (A) (Q)
116                         Table 3.11.3. Real National Defense Consumption Expenditures and Gross Investment by Type, Quantity Indexes (A) (Q)
117                              Table 3.11.4. Price Indexes for National Defense Consumption Expenditures and Gross Investment by Type (A) (Q)
118                                                Table 3.11.5. National Defense Consumption Expenditures and Gross Investment by Type (A) (Q)
119                          Table 3.11.6. Real National Defense Consumption Expenditures and Gross Investment by Type, Chained Dollars (A) (Q)
120                                                                                                  Table 3.12. Government Social Benefits (A)
121                                                                                                                   Table 3.13. Subsidies (A)
122                                                         Table 3.14. Government Social Insurance Funds Current Receipts and Expenditures (A)
123         Table 3.15.1. Percent Change From Preceding Period in Real Government Consumption Expenditures and Gross Investment by Function (A)
124              Table 3.15.2. Contributions to Percent Change in Real Government Consumption Expenditures and Gross Investment by Function (A)
125                               Table 3.15.3. Real Government Consumption Expenditures and Gross Investment by Function, Quantity Indexes (A)
126                                    Table 3.15.4. Price Indexes for Government Consumption Expenditures and Gross Investment by Function (A)
127                                                      Table 3.15.5. Government Consumption Expenditures and Gross Investment by Function (A)
128                                Table 3.15.6. Real Government Consumption Expenditures and Gross Investment by Function, Chained Dollars (A)
129                                                                                 Table 3.16. Government Current Expenditures by Function (A)
130                                                            Table 3.17. Selected Government Current and Capital Expenditures by Function (A)
    TableName  \
131   T31800A
132   T31800B
133    T31900
134    T32000
135    T32100
136    T40100
137    T40201
138    T40202
139   T40203A
140   T40203B
141   T40204A
142   T40204B
143   T40205A
144   T40205B
145   T40206B
146    T4030A
147    T4030B
148    T4030C
149    T50100
150    T50203

                                                                                                                                                                                         Description
131  Table 3.18A. Relation of Federal Government Current Receipts and Expenditures in the National Income and Product Accounts to the Consolidated Cash Statement, Fiscal Years and Quarters (A) (Q)
132                       Table 3.18B. Relation of Federal Government Current Receipts and Expenditures in the National Income and Product Accounts to the Budget, Fiscal Years and Quarters (A) (Q)
133   Table 3.19. Relation of State and Local Government Current Receipts and Expenditures in the National Income and Product Accounts to Census Bureau 'Government Finances' Data, Fiscal Years (A)
134                                                                                                                               Table 3.20. State Government Current Receipts and Expenditures (A)
135                                                                                                                               Table 3.21. Local Government Current Receipts and Expenditures (A)
136                                                                                                              Table 4.1. Foreign Transactions in the National Income and Product Accounts (A) (Q)
137                                                           Table 4.2.1. Percent Change From Preceding Period in Real Exports and in Real Imports of Goods and Services by Type of Product (A) (Q)
138                                                                   Table 4.2.2. Contributions to Percent Change in Real Exports and Real Imports of Goods and Services by Type of Product (A) (Q)
139                                                                                        Table 4.2.3A. Real Exports and Imports of Goods and Services by Type of Product, Quantity Indexes (A) (Q)
140                                                                                        Table 4.2.3B. Real Exports and Imports of Goods and Services by Type of Product, Quantity Indexes (A) (Q)
141                                                                                             Table 4.2.4A. Price Indexes for Exports and Imports of Goods and Services by Type of Product (A) (Q)
142                                                                                             Table 4.2.4B. Price Indexes for Exports and Imports of Goods and Services by Type of Product (A) (Q)
143                                                                                                               Table 4.2.5A. Exports and Imports of Goods and Services by Type of Product (A) (Q)
144                                                                                                               Table 4.2.5B. Exports and Imports of Goods and Services by Type of Product (A) (Q)
145                                                                                         Table 4.2.6B. Real Exports and Imports of Goods and Services by Type of Product, Chained Dollars (A) (Q)
146                               Table 4.3A. Relation of Foreign Transactions in the National Income and Product Accounts to the Corresponding Items in the International Transactions Accounts (A)
147                               Table 4.3B. Relation of Foreign Transactions in the National Income and Product Accounts to the Corresponding Items in the International Transactions Accounts (A)
148                           Table 4.3C. Relation of Foreign Transactions in the National Income and Product Accounts to the Corresponding Items in the International Transactions Accounts (A) (Q)
149                                                                                                                                               Table 5.1. Saving and Investment by Sector (A) (Q)
150                                                                                                          Table 5.2.3. Real Gross and Net Domestic Investment by Major Type, Quantity Indexes (A)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
code_list = [
    ([{"survey" : "NIPA", "table" : "T10106", "freq" : "Q"}], "real_gdp.csv")
]

for code in code_list:
    sent = ba.collection(code[0])
    file = code[1]
    sent.to_csv("C:/Users/marvi/OneDrive/Documents/GitHub/Data/macro_datasets/" + file)

In [41]:
stuff = ba.collection([{"survey" : "NIPA", "table" : "T80104", "freq" : "A"}])
stuff

KeyError: 'Results'

In [25]:
description = stuff["LineDescription"].unique()
concat = pd.DataFrame()        

for item in description:
    df = stuff[stuff["LineDescription"] == item]
    df = df.pivot_table(index = "dates", columns = "LineDescription", values = "DataValue", aggfunc = 'first')
    concat = pd.concat([concat, df], axis = 1)

concat.reset_index(inplace = True)

In [7]:
concat

LineDescription,Current receipts,Current tax receipts,Personal current taxes,Taxes on production and imports,Taxes on corporate income,Taxes from the rest of the world,Contributions for government social insurance,From persons,From the rest of the world,Income receipts on assets,...,Social insurance funds,Other,Total receipts,Capital transfer receipts,Total expenditures,Gross government investment,Capital transfer payments,Net purchases of nonproduced assets,Less: Consumption of fixed capital,Net lending or net borrowing (-)
dates,,,,,,,,,,,,,,,,,,,,,
1947-04-01,"55,397","48,340","19,165","17,679","11,496",NaN,"6,348","6,348",NaN,192,...,NaN,NaN,"56,436","1,039",NaN,"4,947",0,NaN,"11,780",NaN
1947-07-01,"54,771","48,095","19,475","17,740","10,880",NaN,"5,964","5,964",NaN,182,...,NaN,NaN,"55,686",915,NaN,"5,117",0,NaN,"11,401",NaN
1947-10-01,"54,382","48,476","19,721","18,031","10,724",NaN,"5,160","5,160",NaN,195,...,NaN,NaN,"55,422","1,040",NaN,"6,092",0,NaN,"11,273",NaN
1948-01-01,"57,031","51,445","20,799","18,974","11,672",NaN,"4,784","4,784",NaN,232,...,NaN,NaN,"58,021",990,NaN,"6,585",0,NaN,"11,088",NaN
1948-04-01,"57,912","52,169","21,198","18,963","12,008",NaN,"4,848","4,848",NaN,293,...,NaN,NaN,"58,964","1,052",NaN,"7,537",0,NaN,"10,728",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-01,"7,617,415","5,415,301","2,865,999","1,896,191","617,782","35,329","1,839,272","1,833,236","6,036","143,162",...,"-595,675","-1,174,298","7,659,767","42,351","9,866,830","997,517","250,180","12,100","780,356","-2,207,063"
2024-01-01,"7,726,452","5,475,487","2,894,282","1,913,603","631,690","35,911","1,858,912","1,852,835","6,077","159,515",...,"-605,266","-1,124,849","7,768,375","41,923","9,791,775","1,033,426","73,813","15,826","787,857","-2,023,400"
2024-04-01,"7,892,191","5,570,545","2,965,619","1,937,952","630,250","36,724","1,889,023","1,882,852","6,171","160,240",...,"-642,360","-1,157,564","7,931,485","39,295","10,018,987","1,040,872","66,758","15,352","796,110","-2,087,502"
2024-07-01,"7,930,141","5,655,157","3,005,389","1,954,728","657,395","37,645","1,896,094","1,889,868","6,226","164,472",...,"-667,933","-1,217,174","7,968,976","38,835","10,158,260","1,060,902","71,904","14,277","804,071","-2,189,284"
2024-10-01,"8,033,383","5,724,973","3,055,604","1,975,885","655,696","37,787","1,910,978","1,904,750","6,229","163,752",...,"-690,316","-1,286,880","8,074,208","40,825","10,387,702","1,087,352","89,722","15,103","815,053","-2,313,494"

In [32]:
data = {"dates" : ["2001-04-01", "2001-07-01", "2001-10-01", "2001-01-01", "2th Quarter 01 2001", "2001-07-01", "2001-10-01"], "values": list(range(0, 7))}
data = pd.DataFrame(data)
data

                 dates  values
0           2001-04-01       0
1           2001-07-01       1
2           2001-10-01       2
3           2001-01-01       3
4  2th Quarter 01 2001       4
5           2001-07-01       5
6           2001-10-01       6

In [ ]:
# boom = list(data["dates"])

# boo = boom.str.contains("Quarter")

# for i in range(0, len(data)):
#     interest = data.iloc[i,0]
#     print(interest)

data["adjust"] = data["dates"].str.contains("Quarter")
quarters = {"1":"01", "2":"04", "3":"07", "4":"10"}

for i in range(0 , len(data)):
    if data["adjust"][i] == False:
        pass
    else:
        value = data.loc[i, "dates"]
        print(value)
        data.loc[i, "dates"] = value[-4:] + "-" + quarters[value[0:1]] + "-01"

data

2th Quarter 01 2001

        dates  values  adjust
0  2001-04-01       0   False
1  2001-07-01       1   False
2  2001-10-01       2   False
3  2001-01-01       3   False
4   2001-0401       4    True
5  2001-07-01       5   False
6  2001-10-01       6   False